main{
    display: inline-flex;
}
header{
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
    background-color: rgb(0, 0, 190);
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
    box-shadow: -70px 0px 30px white inset;
    -webkit-text-stroke: 2px black;
}

.savedCity{
    cursor: pointer;
}
#searchArea{
    margin: 20px;
    border: 1px solid red;
}

#weatherDisplay{
    color: blue;
}

#searchBtn{
    display: inline;
    cursor: pointer;
}

#seacrh{
    display: inline;
}

#currentCity{
    padding: 20px
}

.individualForecast{
    color: white;
    display: inline-block;
    width: 175px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px 10px 40px 10px;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    line-height: 50px;
    background-color: rgb(0, 0, 190);
    margin: 0px;
    justify-content: center;
    box-shadow: 0 -30px 20px white inset;
}
